*{
  margin: 0;
  padding: 0;
}



.gallarycontainer {
  display: flex;
  overflow: hidden;
    justify-content: center;
    flex-direction: column;
   align-items: center;

 /* flex-wrap: wrap;
*/
}

.card {
  position: relative;
  width: 28rem;
  height: 35rem;
  margin: 3rem;
}
.card:nth-of-type(2) {
  transform: rotate(5deg);
}

.card .image {
  position: relative;
  width: 100%;
  height: 100%;
  background-size: cover;
  transform: translate(10px, 10px);
}

 .card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 25rem;
  height: 32.5rem;
  border: 2.5rem solid #fff;
  z-index: 1;
  background: linear-gradient(145deg, #ffffff, #e6e6e6);
  box-shadow: 7px 7px 21px #bdbdbd, -7px -7px 21px #ffffff;
  background: transparent;
}

 .card:nth-of-type(1)::before {
  filter: url(#wavy1);
}

 .card:nth-of-type(2)::before {
  filter: url(#wavy2);
}

 .card:nth-of-type(3)::before {
  filter: url(#wavy3);
}



.image1 {
  background-image: url("/img/pic1.jpg");
    background-position: center;
  background-size: cover;

}

.image2 {
  background-image: url("img/pic2.jpg");
  background-position: center;   background-size: cover;

}
.image3 {
  background-image: url("img/pic3.jpg");
    background-position: center;   background-size: cover;

}
svg {
  width: 0;
  height: 0;
}
/*
.card .info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 50px 30px 30px 30px;
  transform: translate(10px, 10px);
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  line-height: 1.4;
  font-size: 20px;
  opacity: 0;
  transition-duration: 1s;
}

 .card:hover .info {
  opacity: 1;
}

*/
